USE [master]
GO
/****** Object:  Database [BD_HELADERIA]    Script Date: 4/23/2023 7:33:14 PM ******/
CREATE DATABASE [BD_HELADERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_HELADERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_HELADERIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_HELADERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_HELADERIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_HELADERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_HELADERIA]
GO
/****** Object:  Table [dbo].[tb_cliente]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cliente](
	[cod_cliente] [char](4) NOT NULL,
	[des_apepaterno] [varchar](25) NULL,
	[des_apematerno] [varchar](25) NULL,
	[des_nombres] [varchar](25) NULL,
	[des_domicilio] [varchar](100) NULL,
	[cod_ubigeo] [char](6) NOT NULL,
	[des_telefono] [varchar](10) NULL,
	[des_email] [varchar](50) NULL,
	[fec_nacimiento] [smalldatetime] NULL,
	[fec_notificacion] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_detalle_pedido]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_detalle_pedido](
	[cod_pedido] [char](5) NOT NULL,
	[cod_helado] [char](3) NOT NULL,
	[num_cantidad] [int] NULL,
	[num_precio_venta] [smallmoney] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_helado]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_helado](
	[cod_helado] [char](3) NOT NULL,
	[des_helado] [varchar](100) NULL,
	[des_composicion] [varchar](255) NULL,
	[num_stock_actual] [int] NULL,
	[num_precio] [smallmoney] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_horario]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_horario](
	[cod_horario] [char](2) NOT NULL,
	[des_horario] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pedido]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pedido](
	[cod_pedido] [char](5) NOT NULL,
	[cod_cliente] [char](4) NOT NULL,
	[fec_pedido] [datetime] NULL,
	[ind_estado] [char](1) NULL,
	[cod_repartidor] [char](4) NULL,
	[cod_horario] [char](2) NULL,
	[fec_expedicion] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_repartidor]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_repartidor](
	[cod_repartidor] [char](4) NOT NULL,
	[des_appaterno] [varchar](25) NULL,
	[des_apmaterno] [varchar](25) NULL,
	[des_nombres] [varchar](25) NULL,
	[des_domicilio] [varchar](100) NULL,
	[cod_ubigeo] [char](6) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ubigeo]    Script Date: 4/23/2023 7:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ubigeo](
	[cod_ubigeo] [char](6) NOT NULL,
	[des_ubigeo] [varchar](50) NULL,
	[cod_ubigeo_sup] [char](6) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tb_cliente] ([cod_cliente], [des_apepaterno], [des_apematerno], [des_nombres], [des_domicilio], [cod_ubigeo], [des_telefono], [des_email], [fec_nacimiento], [fec_notificacion]) VALUES (N'C001', N'MANRIQUE', N'ARISMENDI', N'ALEJANDRO', N'AV. LOS VIÑEDOS 150', N'150128', N'229-2275', N'amanrique@hotmail.com', CAST(N'1980-04-22T00:00:00' AS SmallDateTime), CAST(N'2011-12-06T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_cliente] ([cod_cliente], [des_apepaterno], [des_apematerno], [des_nombres], [des_domicilio], [cod_ubigeo], [des_telefono], [des_email], [fec_nacimiento], [fec_notificacion]) VALUES (N'C002', N'CHUNGA', N'POCCOHUANCA', N'EMILIO', N'AV. EMILIO CAVENECIA 225', N'150141', N'315-6071', N'echunga@hotmail.com', CAST(N'1989-07-01T00:00:00' AS SmallDateTime), CAST(N'2012-05-24T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_cliente] ([cod_cliente], [des_apepaterno], [des_apematerno], [des_nombres], [des_domicilio], [cod_ubigeo], [des_telefono], [des_email], [fec_nacimiento], [fec_notificacion]) VALUES (N'C003', N'VELIZ', N'YAMPI', N'PAULO CESAR', N'JR. COLLAGATE 522', N'150108', N'689-8205', N'pveliz@hotmail.com', CAST(N'1977-04-27T00:00:00' AS SmallDateTime), CAST(N'2011-11-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tb_detalle_pedido] ([cod_pedido], [cod_helado], [num_cantidad], [num_precio_venta]) VALUES (N'PE001', N'H04', 3, 15.4800)
INSERT [dbo].[tb_detalle_pedido] ([cod_pedido], [cod_helado], [num_cantidad], [num_precio_venta]) VALUES (N'PE002', N'H15', 1, 12.5400)
INSERT [dbo].[tb_detalle_pedido] ([cod_pedido], [cod_helado], [num_cantidad], [num_precio_venta]) VALUES (N'PE002', N'H06', 1, 14.8700)
GO
INSERT [dbo].[tb_helado] ([cod_helado], [des_helado], [des_composicion], [num_stock_actual], [num_precio]) VALUES (N'H01', N'Maracuyá al agua', N'Helado de agua sabor maracuyá, sembrado con variegato de maracuyá.', 100, 15.5400)
INSERT [dbo].[tb_helado] ([cod_helado], [des_helado], [des_composicion], [num_stock_actual], [num_precio]) VALUES (N'H02', N'Naranja', N'Helado de agua de naranja con jugo de naranja natural.', 95, 16.5400)
INSERT [dbo].[tb_helado] ([cod_helado], [des_helado], [des_composicion], [num_stock_actual], [num_precio]) VALUES (N'H03', N'Frutos Tropicales', N'Crema de helado sabor mango, sembrado con variegatto de frutas tropicales (mango, ananá y pulpa de maracuyá).', 105, 18.4500)
GO
INSERT [dbo].[tb_horario] ([cod_horario], [des_horario]) VALUES (N'01', N'06:00 - 09:00')
INSERT [dbo].[tb_horario] ([cod_horario], [des_horario]) VALUES (N'02', N'09:00 - 13:00')
INSERT [dbo].[tb_horario] ([cod_horario], [des_horario]) VALUES (N'03', N'14:00 - 18:00')
GO
INSERT [dbo].[tb_pedido] ([cod_pedido], [cod_cliente], [fec_pedido], [ind_estado], [cod_repartidor], [cod_horario], [fec_expedicion]) VALUES (N'PE001', N'C009', CAST(N'2015-01-02T00:00:00.000' AS DateTime), N'1', N'R009', N'02', NULL)
INSERT [dbo].[tb_pedido] ([cod_pedido], [cod_cliente], [fec_pedido], [ind_estado], [cod_repartidor], [cod_horario], [fec_expedicion]) VALUES (N'PE002', N'C010', CAST(N'2015-01-02T00:00:00.000' AS DateTime), N'2', N'R002', N'01', CAST(N'2015-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_pedido] ([cod_pedido], [cod_cliente], [fec_pedido], [ind_estado], [cod_repartidor], [cod_horario], [fec_expedicion]) VALUES (N'PE003', N'C032', CAST(N'2015-01-05T00:00:00.000' AS DateTime), N'3', N'R001', N'04', CAST(N'2015-01-05T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tb_repartidor] ([cod_repartidor], [des_appaterno], [des_apmaterno], [des_nombres], [des_domicilio], [cod_ubigeo]) VALUES (N'R001', N'PATIÑO', N'VARGAS', N'JACINTO LUIS', N'AV. TACNA 482', N'150135')
INSERT [dbo].[tb_repartidor] ([cod_repartidor], [des_appaterno], [des_apmaterno], [des_nombres], [des_domicilio], [cod_ubigeo]) VALUES (N'R002', N'PEZO', N'CHOQUEHUANCA', N'FILIBERTO', N'AV. TEJADA 150', N'150123')
INSERT [dbo].[tb_repartidor] ([cod_repartidor], [des_appaterno], [des_apmaterno], [des_nombres], [des_domicilio], [cod_ubigeo]) VALUES (N'R003', N'RAMIREZ', N'TAVARA', N'JOSE LUIS', N'AV. JOSE PARDO 620', N'150130')
GO
INSERT [dbo].[tb_ubigeo] ([cod_ubigeo], [des_ubigeo], [cod_ubigeo_sup]) VALUES (N'220401', N'SAPOSOA', N'2204  ')
INSERT [dbo].[tb_ubigeo] ([cod_ubigeo], [des_ubigeo], [cod_ubigeo_sup]) VALUES (N'220402', N'ALTO SAPOSOA', N'2204  ')
INSERT [dbo].[tb_ubigeo] ([cod_ubigeo], [des_ubigeo], [cod_ubigeo_sup]) VALUES (N'220403', N'EL ESLABON', N'2204  ')
GO
USE [master]
GO
